/** 
 * Some common mixins
 * */
/**  
 * a wrapper for transitions
 * @param string $s a float point number in second(s) - default .6s
 * */
/** 
 * media query break wrapper
 * @param string $width - 768px
 * */
/** 
 * wrapper to export common browser prefix for backward compatability
 * @param array $declarations the list of styles
 * @param list $prefixes list of prefixes to use
 * */
/** 
 * wrapper for keyframe animations
 * @param string name of the animation
 * */
/** 
 * force not allow mouse selection of wrapped text
 * */
/* line 7, ../working/sass/_colors.scss */
.grey {
  background: #f1f1f1; }

/* line 10, ../working/sass/_colors.scss */
.white {
  background: #ffffff; }

/* line 13, ../working/sass/_colors.scss */
.red {
  background: #de0000; }

/* line 1, ../working/sass/_flex.scss */
body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  background: #f1f1f1; }

/* line 9, ../working/sass/_flex.scss */
.col {
  margin: 0.5em; }
  /* line 11, ../working/sass/_flex.scss */
  .col p {
    padding: 0.2em 0.5em; }

/* line 15, ../working/sass/_flex.scss */
.flex {
  display: flex; }

/* line 18, ../working/sass/_flex.scss */
.c1 {
  flex: 1; }

/* line 21, ../working/sass/_flex.scss */
.c2 {
  flex: 2; }

/* line 24, ../working/sass/_flex.scss */
.c3 {
  flex: 3; }

/* line 27, ../working/sass/_flex.scss */
.c4 {
  flex: 4; }

/* line 30, ../working/sass/_flex.scss */
.c5 {
  flex: 5; }

/* line 33, ../working/sass/_flex.scss */
.c6 {
  flex: 6; }

/* line 36, ../working/sass/_flex.scss */
img {
  width: 100%; }

@media (max-width: 1024px) {
  /* line 40, ../working/sass/_flex.scss */
  .grid {
    display: block;
    width: 100%;
    float: left; }

  /* line 45, ../working/sass/_flex.scss */
  .flex {
    display: block;
    float: left; }

  /* line 49, ../working/sass/_flex.scss */
  .container {
    margin: 0px; } }
/* line 1, ../working/sass/_menu.scss */
nav {
  background-color: #de0000;
  min-height: 50px;
  position: sticky;
  top: 0px;
  z-index: 200;
  color: #ffffff;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  /* line 10, ../working/sass/_menu.scss */
  nav ul {
    list-style: none;
    float: right;
    margin: 0; }
    /* line 14, ../working/sass/_menu.scss */
    nav ul li {
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      display: inline-block;
      margin-right: 0px;
      padding: 0;
      margin: 0;
      cursor: pointer;
      border-radius: 5px;
      width: 257px;
      height: 200px;
      overflow: hidden; }
      /* line 25, ../working/sass/_menu.scss */
      nav ul li img {
        border-radius: 5px; }

/* line 34, ../working/sass/_menu.scss */
nav ul li:hover {
  background-color: red; }

/* line 37, ../working/sass/_menu.scss */
nav {
  z-index: 9999; }
  /* line 39, ../working/sass/_menu.scss */
  nav #hamburger {
    list-style: none;
    float: right;
    margin: 7px 14px 7px 7px;
    padding: 0;
    cursor: pointer; }
    /* line 45, ../working/sass/_menu.scss */
    nav #hamburger li {
      margin: 5px 2px;
      background: #ffffff;
      width: 30px;
      height: 5px;
      display: block;
      padding: 0; }
  /* line 54, ../working/sass/_menu.scss */
  nav #menu {
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 201;
    background: #3615d0;
    padding: 15px; }
    /* line 65, ../working/sass/_menu.scss */
    nav #menu li {
      display: block;
      float: left;
      margin: 10px; }

@media (max-width: 1366px) {
  /* line 73, ../working/sass/_menu.scss */
  nav #menu {
    position: inherit; } }
@media (max-width: 1024px) {
  /* line 78, ../working/sass/_menu.scss */
  nav ul li {
    width: 225px;
    height: 180px; } }
@media (max-width: 640px) {
  /* line 84, ../working/sass/_menu.scss */
  nav ul li {
    max-width: 100%;
    width: inherit;
    height: inherit; }
    /* line 88, ../working/sass/_menu.scss */
    nav ul li img {
      width: 100%; } }
/* line 1, ../working/sass/_type.scss */
h1 {
  color: #de0000; }

/* line 4, ../working/sass/_type.scss */
h2 {
  font-size: 1.3em; }

/* line 7, ../working/sass/_type.scss */
h3 {
  margin: 0.2em 0; }

/* line 10, ../working/sass/_type.scss */
p {
  font-weight: 100; }

/* line 13, ../working/sass/_type.scss */
a {
  color: #000000; }

/* line 17, ../working/sass/_type.scss */
footer a {
  color: #ffffff; }

/* line 1, ../working/sass/_classes.scss */
.i {
  text-indent: 1em; }

/* line 7, ../working/sass/_classes.scss */
.tomiddle {
  padding-top: 15%; }

/* line 10, ../working/sass/_classes.scss */
.grey .grey {
  padding: 1em; }

/* line 13, ../working/sass/_classes.scss */
.hide {
  opacity: 0; }

/* line 16, ../working/sass/_classes.scss */
.hidden {
  display: none; }

/* line 1, ../working/sass/_footer.scss */
footer {
  background: #de0000 !important;
  color: #ffffff; }
  /* line 4, ../working/sass/_footer.scss */
  footer * {
    background: #de0000 !important;
    color: #ffffff; }
  /* line 8, ../working/sass/_footer.scss */
  footer .col {
    margin: 4em 1.5em !important; }

/* Place pages here to allow overides */
/* line 2, ../working/sass/_a.scss */
.a #topimg {
  width: 100%;
  margin: 1em auto;
  display: block; }
/* line 7, ../working/sass/_a.scss */
.a h1 {
  font-size: 400%;
  padding: 1em 0 0.1em 0;
  margin: 0;
  text-align: center; }
/* line 13, ../working/sass/_a.scss */
.a h2 {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 2em; }
/* line 18, ../working/sass/_a.scss */
.a p {
  font-weight: 100; }

@media (max-width: 1280px) {
  /* line 23, ../working/sass/_a.scss */
  .a {
    font-size: 0.9em; }
    /* line 27, ../working/sass/_a.scss */
    .a .container .c4 .c3 {
      flex: 1; } }
/* line 1, ../working/sass/_b.scss */
.b {
  font-size: 12px; }
  /* line 3, ../working/sass/_b.scss */
  .b h2 {
    font-weight: 400;
    margin-bottom: 2em; }

/* line 1, ../working/sass/_c.scss */
.c {
  font-size: 12px; }
  /* line 3, ../working/sass/_c.scss */
  .c h1 {
    padding-top: 2em;
    text-align: center;
    margin: 0 2em;
    font-size: 2.5em; }
  /* line 10, ../working/sass/_c.scss */
  .c main h2 {
    padding-top: 15em;
    font-weight: 100;
    font-size: 1.2em; }

@media (max-width: 1280px) {
  /* line 21, ../working/sass/_c.scss */
  .c .container .c6 .c3 {
    flex: 1; }
  /* line 27, ../working/sass/_c.scss */
  .c main h2 {
    padding-top: 30px; } }
/* line 2, ../working/sass/_d.scss */
.d #topimg {
  width: 125%;
  margin: 1em auto;
  display: block;
  position: relative;
  left: -30%;
  z-index: 2;
  background: transparent; }
/* line 11, ../working/sass/_d.scss */
.d h2 {
  font-size: 1.1em;
  font-weight: 400; }
/* line 15, ../working/sass/_d.scss */
.d .col {
  margin: 0.5em 1.5em; }
/* line 18, ../working/sass/_d.scss */
.d .container > .grey {
  z-index: 2; }
/* line 19, ../working/sass/_d.scss */
.d main .grey {
  padding: 2em; }
/* line 22, ../working/sass/_d.scss */
.d #bgsq {
  z-index: 1; }

@media (max-width: 1024px) {
  /* line 28, ../working/sass/_d.scss */
  .d #topimg {
    position: inherit;
    left: inherit;
    width: 100%; } }
@media (max-width: 1280px) {
  /* line 36, ../working/sass/_d.scss */
  .d {
    font-size: 0.9em; }
    /* line 39, ../working/sass/_d.scss */
    .d .container > .c2 {
      flex: 1; }
    /* line 42, ../working/sass/_d.scss */
    .d .container > .c4 {
      flex: 6; } }
/* line 2, ../working/sass/_e.scss */
.e h1 {
  font-size: 200%;
  margin: 8em 0 0.1em 0; }
/* line 6, ../working/sass/_e.scss */
.e h2 {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 2em; }
/* line 11, ../working/sass/_e.scss */
.e .container > .grey {
  z-index: 2; }
/* line 12, ../working/sass/_e.scss */
.e main .grey {
  padding: 2em; }
/* line 15, ../working/sass/_e.scss */
.e #bgsq {
  z-index: 1; }
/* line 18, ../working/sass/_e.scss */
.e .content {
  position: relative;
  padding: 3em; }
/* line 22, ../working/sass/_e.scss */
.e #topimg {
  width: 50%;
  margin: 1em auto;
  display: block;
  position: absolute;
  right: -95px;
  z-index: 200;
  background: transparent; }
/* line 31, ../working/sass/_e.scss */
.e #topimg_placeholder {
  width: 30%;
  height: 200px;
  float: right; }

@media (max-width: 1024px) {
  /* line 39, ../working/sass/_e.scss */
  .e h1 {
    margin: 0.1em 0 0.1em 0; }
  /* line 42, ../working/sass/_e.scss */
  .e #topimg_placeholder {
    display: none; }
  /* line 45, ../working/sass/_e.scss */
  .e #topimg {
    position: initial;
    left: inherit;
    width: 100%; } }
/* line 1, ../working/sass/_f.scss */
.f {
  font-size: 12px; }
  /* line 3, ../working/sass/_f.scss */
  .f .ptop {
    padding-top: 10em; }
  /* line 6, ../working/sass/_f.scss */
  .f .title {
    position: absolute;
    left: 3vh;
    top: 10vh;
    background: transparent; }
  /* line 14, ../working/sass/_f.scss */
  .f h1 {
    font-size: 9em;
    padding: 0.8em 0 0.1em 0;
    margin: 0;
    color: #de0000;
    text-align: right;
    transform: rotate(-90deg);
    height: 100vh;
    width: 100%;
    background: transparent; }
  /* line 25, ../working/sass/_f.scss */
  .f h2 {
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 2em; }
  /* line 30, ../working/sass/_f.scss */
  .f p {
    font-weight: 100; }
  /* line 33, ../working/sass/_f.scss */
  .f .sub {
    padding: 1em; }
  /* line 36, ../working/sass/_f.scss */
  .f .sub h2 {
    padding-top: 30%; }
  /* line 39, ../working/sass/_f.scss */
  .f .grey {
    padding: 1em; }

@media (max-width: 1280px) {
  /* line 45, ../working/sass/_f.scss */
  .f .title {
    top: 50px; } }
@media (max-width: 1024px) {
  /* line 52, ../working/sass/_f.scss */
  .f .grid {
    display: block;
    width: 100%;
    float: left; }
  /* line 57, ../working/sass/_f.scss */
  .f .flex {
    display: block;
    width: 100%;
    float: left; }
  /* line 62, ../working/sass/_f.scss */
  .f .title {
    position: initial; }
  /* line 65, ../working/sass/_f.scss */
  .f h1 {
    font-size: 5em;
    text-align: left;
    transform: none;
    height: inherit;
    padding: inherit; }
  /* line 72, ../working/sass/_f.scss */
  .f .sub h2 {
    padding-top: inherit; } }
@media (min-height: 900px) {
  /* line 79, ../working/sass/_f.scss */
  .f .title {
    left: 12vh; } }
@media (min-height: 1200px) {
  /* line 86, ../working/sass/_f.scss */
  .f .title {
    left: 16vh; } }
/* line 1, ../working/sass/_g.scss */
.g {
  font-size: 12px; }
  /* line 3, ../working/sass/_g.scss */
  .g .ptop {
    padding-top: 10em; }
  /* line 6, ../working/sass/_g.scss */
  .g .title {
    position: absolute;
    top: 35px;
    background: transparent; }
  /* line 12, ../working/sass/_g.scss */
  .g h1 {
    font-size: 9em;
    padding: 1.5em 0 0.1em 0;
    margin: 0;
    color: #de0000;
    text-align: right;
    transform: rotate(-90deg);
    width: 150%;
    height: 140vh;
    background: transparent; }
  /* line 23, ../working/sass/_g.scss */
  .g h2 {
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 2em; }
  /* line 28, ../working/sass/_g.scss */
  .g p {
    font-weight: 100; }
  /* line 31, ../working/sass/_g.scss */
  .g .sub {
    padding: 1em; }
  /* line 34, ../working/sass/_g.scss */
  .g .sub h2 {
    padding-top: 30%; }
  /* line 37, ../working/sass/_g.scss */
  .g .grey {
    padding: 1em; }

@media (max-width: 1280px) {
  /* line 54, ../working/sass/_g.scss */
  .g h1 {
    font-size: 8em;
    width: 170%; } }
@media (max-width: 1024px) {
  /* line 62, ../working/sass/_g.scss */
  .g .grid {
    display: block;
    width: 100%;
    float: left; }
  /* line 67, ../working/sass/_g.scss */
  .g .flex {
    display: block;
    width: 100%;
    float: left; }
  /* line 72, ../working/sass/_g.scss */
  .g .title {
    position: initial; }
  /* line 75, ../working/sass/_g.scss */
  .g h1 {
    font-size: 5em;
    text-align: left;
    transform: none;
    height: inherit;
    padding: inherit;
    width: 100%; }
  /* line 83, ../working/sass/_g.scss */
  .g .sub h2 {
    padding-top: inherit; } }
@media (max-height: 800px) {
  /* line 90, ../working/sass/_g.scss */
  .g h1 {
    height: 160vh; } }
@media (max-height: 700px) {
  /* line 97, ../working/sass/_g.scss */
  .g h1 {
    height: 188vh; } }
@media (max-width: 500px) {
  /* line 104, ../working/sass/_g.scss */
  .g h1 {
    height: inherit; } }
/* line 1, ../working/sass/_h.scss */
.h {
  font-size: 12px; }
  /* line 3, ../working/sass/_h.scss */
  .h .title {
    position: relative; }
  /* line 6, ../working/sass/_h.scss */
  .h h1 {
    font-size: 6em;
    margin: 0; }
  /* line 10, ../working/sass/_h.scss */
  .h h2 {
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: 2em; }
  /* line 15, ../working/sass/_h.scss */
  .h p {
    font-weight: 100; }
  /* line 18, ../working/sass/_h.scss */
  .h .grey {
    padding: 1em; }
  /* line 22, ../working/sass/_h.scss */
  .h .container > div {
    background-color: #fff;
    margin: 0px 20px; }
  /* line 27, ../working/sass/_h.scss */
  .h #bgsq {
    z-index: 1; }

/* line 2, ../working/sass/_ii.scss */
.ii h1 {
  font-size: 7em;
  margin: 0; }
/* line 6, ../working/sass/_ii.scss */
.ii h2 {
  font-weight: 400;
  font-size: 1.3em;
  margin-bottom: 2em; }
/* line 11, ../working/sass/_ii.scss */
.ii p {
  font-weight: 100; }
/* line 14, ../working/sass/_ii.scss */
.ii #bgsq {
  z-index: 1; }
/* line 17, ../working/sass/_ii.scss */
.ii .grey {
  z-index: 2; }

@media (max-width: 1440px) {
  /* line 23, ../working/sass/_ii.scss */
  .ii h1 {
    font-size: 5em; } }
@media (max-width: 1280px) {
  /* line 30, ../working/sass/_ii.scss */
  .ii h1 {
    font-size: 4em; } }
@media (max-width: 500px) {
  /* line 37, ../working/sass/_ii.scss */
  .ii h1 {
    font-size: 3em; } }
/* line 1, ../working/sass/_j.scss */
.j {
  font-size: 12px; }
  /* line 3, ../working/sass/_j.scss */
  .j .title {
    position: relative; }
  /* line 6, ../working/sass/_j.scss */
  .j h1 {
    font-size: 6em;
    margin: 0; }
  /* line 10, ../working/sass/_j.scss */
  .j h2 {
    font-weight: 400;
    font-size: 1.2em;
    padding: 0.5em; }
  /* line 16, ../working/sass/_j.scss */
  .j p {
    font-weight: 100; }
  /* line 19, ../working/sass/_j.scss */
  .j .grey {
    padding: 1em; }
  /* line 23, ../working/sass/_j.scss */
  .j .container > div {
    background-color: #fff;
    margin: 0px 20px; }
  /* line 28, ../working/sass/_j.scss */
  .j #bgsq {
    z-index: 1; }
  /* line 32, ../working/sass/_j.scss */
  .j .leftside p {
    font-size: 10px; }

/* line 2, ../working/sass/_anim.scss */
.anim .col {
  transition: all 6s cubic-bezier(0.23, 1, 0.32, 1);
  background: #ffffff; }

/* line 2, ../working/sass/_home.scss */
.home .white {
  padding: 0.5em; }
/* line 5, ../working/sass/_home.scss */
.home .intro {
  float: left;
  font-size: 4em;
  font-weight: bold;
  padding: 0;
  margin: 6px 1px 0 4px; }
/* line 12, ../working/sass/_home.scss */
.home .left {
  flex: 1; }
  /* line 14, ../working/sass/_home.scss */
  .home .left img {
    display: none;
    width: 50%;
    margin: 0 0 0.5em 0.5em; }
/* line 20, ../working/sass/_home.scss */
.home .right {
  flex: 1; }
/* line 23, ../working/sass/_home.scss */
.home .red {
  padding: 0.9em; }

@media (max-width: 1500px) {
  /* line 29, ../working/sass/_home.scss */
  .home .left {
    flex: 2; }
    /* line 31, ../working/sass/_home.scss */
    .home .left img {
      display: block;
      float: right; }
  /* line 36, ../working/sass/_home.scss */
  .home .right {
    display: none; } }
@media (max-width: 1024px) {
  /* line 43, ../working/sass/_home.scss */
  .home .footer {
    background: #de0000; } }
@media (max-width: 500px) {
  /* line 49, ../working/sass/_home.scss */
  .home .left img {
    width: 100%; } }
/* line 24, ../working/sass/style.scss */
.a404 {
  text-align: center; }
  /* line 26, ../working/sass/style.scss */
  .a404 h1 {
    font-size: 15em; }

/* line 32, ../working/sass/style.scss */
.container > .col {
  margin: 0; }

/* line 36, ../working/sass/style.scss */
#showgridc {
  position: absolute;
  margin: 15px; }

/* line 40, ../working/sass/style.scss */
.showgrid .col {
  border: dashed 1px; }

/* line 41, ../working/sass/style.scss */
.showgrid .scol {
  border: dashed 1px; }

/* line 42, ../working/sass/style.scss */
#bgsq {
  width: 50vw;
  height: 100vw;
  background-color: #3500fd08;
  transform: rotate(45deg);
  position: fixed;
  top: 50%;
  left: -8%;
  z-index: -1;
  display: none; }
