.a {
	#topimg {
		width: 100%;
	    margin: 1em auto;
	    display: block;
	}
	h1 {
		font-size: 400%;
		padding: 1em 0 0.1em 0;
		margin: 0;
		text-align: center;
	}
	h2 {
		font-weight: 400;
		font-size: 1.1em;
		margin-bottom: 2em;
	}
	p {
		font-weight: 100;
	}
}
@media (max-width: 1280px) {
	.a {
		font-size: 0.9em;
		.container {
			.c4 {
				.c3 {
					flex: 1;
				}
			}
		}
	}
}