.f {
    font-size: 12px;
    .ptop {
        padding-top: 10em;
    }
    .title {
        position: absolute;
        left: 0px;
        top: -40px;
    }
    h1 {
        font-size: 9em;
        padding: 0.8em 0 0.1em 0;
        margin: 0;
        color: #de0000;
        text-align: right;
        transform: rotate(-90deg);
        height: 100vh;
        width: 100%;
    }
    h2 {
        font-weight: 400;
        font-size: 1.3em;
        margin-bottom: 2em;
    }
    p {
        font-weight: 100;
    }
    .sub {
        padding: 1em;
    }
    .sub h2 {
        padding-top: 30%;
    }
    .grey {
       padding: 1em; 
    }
}
@media (max-width: 1280px) {
    .f {
        .title {
            top: 50px;
        }
    }
}
@media (max-width: 1024px) {
    .f {
        .grid {
                display: block;
                width: 100%;
                float: left;
        }
        .flex {
                display: block;
                width: 100%;
                float: left;
        }
        .title {
                position: initial;
        }
        h1 {
                font-size: 5em;
                text-align: left;
                transform: none;
                height: inherit;
                padding: inherit;
        }
        .sub h2 {
                padding-top: inherit;
        }
    }
}