body,html {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	background: #f1f1f1;
}
.col {
	margin: 0.5em;
	p {
		padding: 0.2em 0.5em;
	}
}
.flex {
	display: flex;
}
.c1 {
	flex: 1;
}
.c2 {
	flex: 2;
}
.c3 {
	flex: 3;
}
.c4 {
	flex: 4;
}
.c5 {
	flex: 5;
}
.c6 {
	flex: 6;
}
img {
	width: 100%;
}
@media (max-width: 1024px) {
	.grid {
		display: block;
		width: 100%;
		float: left;
	}
	.flex {
		display: block;
		float: left;
	}
	.container {
		margin:0px;
	}
}