@import "mixins";
@import "colors";
@import "flex";
@import "menu";
@import "type";
@import "classes";
@import "footer";

/* Place pages here to allow overides */

@import "a";
@import "b";
@import "c";
@import "d";
@import "e";
@import "f";
@import "g";
@import "h";
@import "ii";
@import "anim";
@import "home";

.a404 {
	text-align: center;
	h1 {
		font-size: 15em;	
	}
}

.container {
	& > .col {
		margin: 0;
	}
}
#showgridc {
	position: absolute;
	margin: 15px;
}
.showgrid .col {border: dashed 1px;}
.showgrid .scol {border: dashed 1px;}
#bgsq {
    width: 50vw;
    height: 100vw;
    background-color: #3500fd08;
    transform: rotate(45deg);
    position: fixed;
    top: 50%;
    left: -8%;
    z-index: -1;
    display: none;
}